{% extends'base.html.twig' %}
{% block body %}
    {% include 'template/_showProduit.html.twig'%}
    <div class="container mt-4">
        <a href="{{path('admin_produit_edit',{'slug':produit.slug})}}"class="btn btn-secondary">Editer</a>
        <form method="post" action="{{ path('admin_produit_delete', {slug: produit.slug}) }}"
              onsubmit="return confirm('Sur ?')"
              style="display: inline-block"
        >
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.slug) }}">
            <button class="btn btn-danger">Supprimer</button>
        </form>
    </div>
{% endblock %}