<h1>
    ceci est un test de mail
</h1>
<p>
    tout ce mail est fait en symfony
    et voici les variables
    <ul>
        <li>
            {{ produit.marque.nom }}
        </li>
    <li>
        {{ produit.prixTTC }}
    </li>
    <li>
        {{ produit.titre }}
    </li>
    <li>
        {{ produit.description }}
    </li>
    </ul>
</p>
